/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 996;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #00bdd7;
    color: #fff;
    transition: all 0.5s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    height: auto;
    position: fixed;
    height: 1000vh;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #00bdd7;
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#menu {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #00bdd7;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;    
}
#dismiss:hover {
    background: #fff;
    color: #00bdd7;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 200%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #00bdd7;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #00a3c7;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a li {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #00a3c7;*/
    list-style-position: inside;
    margin-left:10px;
    font-size: 10px;
}

ul.CTAs {
    padding-left: 20px;
    padding-right: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #00bdd7;
}
a.article, a.article:hover {
    background: #00a3c7 !important;
    color: #fff !important;
}

i {
    margin-left: 7%;
    margin-right: 7%;
}

.select a:hover {
    color:#00bdd7;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    FLOATING BUTTON
----------------------------------------------------- */
.label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
}

.label-text{
    color:#FFF;
    background-color:#00bdd7;
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}

.label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00bdd7;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    z-index: 995;
}

.my-float{
    font-size:20px;
    margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
  z-index: 996;
}



/* ----------------------------------------------
    LOADER STYLE
-------------------------------------------*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00bdd7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 250px;
    position: relative;
}
.loader-base{
    position: fixed;
    width: 100vw;
    height: 200%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 995;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------
    RESULT STYLE
----------------------------------------------------- */

.box-result{

}
.analysis-result{
    list-style: none;
    padding-left: 0;

    display: inline-block;
    width: 100%;
    position: relative;
    margin-left: auto;
}

.list-result{
    display: block;
    height: 50px;
    background:#f0f0f0;
    border: 1px solid #00a3c7;
    text-indent: none;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 7px;

}
.type-result-u{
    width: 120px;
    float: left;
    color: green;
    height: 40px;
    padding: 10px;
    margin-top:-10px;
    padding-bottom: 38px;
    text-align: center;
    border-right: 0.5px solid #00a3c7;
}
.type-result-p{
    width: 120px;
    float: left;
    color: red;
    height: 40px;
    padding: 10px;
    margin-top:-10px;
    padding-bottom: 38px;
    text-align: center;
    border-right: 0.5px solid #00a3c7;

}
.para-result{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    color:#000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    line-height: 28px;
}

.result-compare{
    float: right;
    color: #fff;
    background-color: #00a3c7;
    margin-top: -40px;
    position: relative;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

}

.progress-bar-checking {
    background-color: #00bdd7;
}


.cops{
    background: #00bdd7 !important; 
}


.capture-im{
    background-color: #00bdd7; 
    text-align: center;
    padding-bottom: 10px;
    color: #fff !important;
    margin: 5px;
    width: 100%
}

.capture-im:hover {
    color: #fff;
    border: 0.5px solid #00a3c7;
}

.center-el{
display: flex;
  flex-direction: row;
}


.history-list{
    font-size: 12px;
}

.word-count{
    font-size: 13px;
}

.top-title{
    font-weight: 400;
    margin-left: 60px;
    font-size: 20px;
    position: absolute;
    z-index: 997;
    display: inline;
    top:21px;
    letter-spacing: 1px;
    pointer-events: none;
}
/*==========================
    BUTTON STYLING;
============================*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%
}

.btnew{
  border: 2px solid #fff;
  color: #FFF;
  background-color: #00bdd7;
  padding: 8px 20px;
  border-radius: 5px;
  height: 120px;
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*==========================
    INDEX STYLING;
============================*/


.index-style {
    margin-top: 100px;
}
