<!DOCTYPE html>
<html>
<head>
	<title>EDEN Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, maximum-scale=1.0, user-scalable=no"><meta name="theme-color" content="#00bdd7">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
<style type = "text/css">
		body{
			  background-image: url("static/assets/images/bg1.png");
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			  background-attachment: fixed;

		}

		.btn-outline {
		    background-color: transparent;
		    color: inherit;
		    transition: all .5s;
		}

		.btn-primary.btn-outline {
		    color: #428bca;
		}

		.btn-success.btn-outline {
		    color: #5cb85c;
		}

		.btn-info.btn-outline {
		    color: #5bc0de;
		}

		.btn-warning.btn-outline {
		    color: #f0ad4e;
		}

		.btn-danger.btn-outline {
		    color: #d9534f;
		}

		.btn-primary.btn-outline:hover,
		.btn-success.btn-outline,
		.btn-info.btn-outline:hover,
		.btn-warning.btn-outline:hover,
		.btn-danger.btn-outline:hover {
		    color: #fff;
		}

		/*.container-fluid{
		text-align: center;
		font-family: "montserrat";
		color: #ff7675;
		border: 1px solid #ff7675;
  		background-color: #F0F8FF;
 		padding-top: 10px;
  		padding-right: 30px;
 		padding-bottom: 50px;
  		padding-left: 80px;
		}*/

		modal {
			  text-align: center;
			}

		@media screen and (max-width: 768px) { 
			  modal:before {
			    display: inline-block;
			    vertical-align: middle;
			    content: " ";
			    height: 100vh;
			  }
			  body{
			  	height: 100vh;
			  }
			}

		modal-dialog {
			  display: inline-block;
			  text-align: left;
			  vertical-align: middle;
			}
	</style>

	<!-- PlantName A-->
	<script>
		setInterval(function(){
	        $.get('/potA', function(response){
	            var pot_data = JSON.parse(response['pot_dataA']);
	    
	            //console.log(pot_data)
	      		var namePlant1 = pot_data[0]['plantName']; //DECLARATION OF  PLANT NAME

	            for(var i=0; i<pot_data.length; i++){
		            var namePlant = pot_data[i]['plantName']; //SHOW PLANT NAME
		            var datePlant = pot_data[i]['date']; // SHOW PLANT DATE 
		            // console.log(namePlant + " " + datePlant); 
	            }
	            document.getElementById('plantName1').innerHTML = namePlant1; // SET PLANT NAME
	        });
	    }, 300);
	</script>

	<!-- PlantName B-->
	<script>
		setInterval(function(){
	        $.get('/potB', function(response){
	            var pot_data = JSON.parse(response['pot_dataB']);
	    
	            //console.log(pot_data)
	      		var namePlant2 = pot_data[0]['plantName']; //DECLARATION OF  PLANT NAME

	            for(var i=0; i<pot_data.length; i++){
		            var namePlant = pot_data[i]['plantName']; //SHOW PLANT NAME
		            var datePlant = pot_data[i]['date']; // SHOW PLANT DATE 
		            // console.log(namePlant + " " + datePlant); 
	            }
	            document.getElementById('plantName2').innerHTML = namePlant2; // SET PLANT NAME
	        });
	    }, 300);
	</script>	

	<!-- PlantName C-->
	<script>
		setInterval(function(){
	        $.get('/potC', function(response){
	            var pot_data = JSON.parse(response['pot_dataC']);
	    
	            //console.log(pot_data)
	      		var namePlant3 = pot_data[0]['plantName']; //DECLARATION OF  PLANT NAME

	            for(var i=0; i<pot_data.length; i++){
		            var namePlant = pot_data[i]['plantName']; //SHOW PLANT NAME
		            var datePlant = pot_data[i]['date']; // SHOW PLANT DATE 
		            // console.log(namePlant + " " + datePlant); 
	            }
	            document.getElementById('plantName3').innerHTML = namePlant3; // SET PLANT NAME
	        });
	    }, 300);
	</script>	

</head>
<body>
<center>
	<!-- Main -->
	<div id="vessel" class="container-fluid">
		<div align="left" style="top:0;position:absolute;left:0;position:fixed;">
		<button type="button" class="btn btn-warning btn100" data-toggle="modal" data-target="#lightNow" style="margin-top:10%;width:100px;height:100px;">
	      	<center><h2><b>Light</b></h2></center>
	    </div>

	    <div align="right" style="top:0;position:absolute;right:0;position:fixed;">
		<button id="camera" type="button" class="btn btn-warning btn100" data-toggle="modal" data-target="#camera" style="margin-top:10%;width:100px;height:100px;">
	      	<center><img src="static/assets/images/CameraPic.png" width="100px"></center>
	    </div>

		<center>	
	      	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalVessel1" style="margin-top:10%;width:275px;height:150px;">
	      	<center><h2><b>Vessel A</b></h2>
	      	<div><h4 id="plantName1"><b>Plant Name</b></h4></div>	
			<img src="static/assets/images/eden2lite.png" width="200px">
			</center>
			</button>
		<br><br><br><br><br><br>	
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalVessel2" style="margin-top:30%;width:275px;height:150px;">
	      	<center><h2><b>Vessel B</b></h2>
	      	<div><h4 id="plantName2"><b>Plant Name</b></h4></div>	
			<img src="static/assets/images/eden2lite.png" width="200px">
			</center>
			</button>
		<br><br><br><br><br><br>	   
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalVessel3" style="margin-top:30%;width:275px;height:150px;">
	      	<center><h2><b>Vessel C</b></h2>
	      	<div><h4 id="plantName3"><b>Plant Name</b></h4></div>	
			<img src="static/assets/images/eden2lite.png" width="200px">
			</center>
			</button>
		<br><br><br><br><br><br>	
	      	
		</center>
	</div>
		
	<!-- Modal -->

	<!-- Light Now -->
	<div class="modal fade" id="lightNow" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#F7DB6A;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<h2>Light Station</h2>
				<h5>Light up your plants at home from your phone.</h5>
			</div>
			<div class="modal-body">
				<button type="button" id="lightNow1" class="btn btn-info btn-md" data-toggle="modal" style="margin-top:2%;width:300px;background-color:#fac23d;"><font size="3" color="black"><b>Light Up Now</b></font></button>
				<button type="button" id="lightOff1" class="btn btn-info btn-md" data-toggle="modal" style="margin-top:5%;width:300px;background-color:#B84304;"><font size="3" ><b>Light Off Now</b></font></button>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#schedLight" style="margin-top:5%;width:300px;background-color:#d8a222;" ><font size="3"><b>Light Up Later</b></font></button>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		
		</div>
	</div>

	<!-- Light Sched -->
	<div class="modal fade" id="schedLight" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#E8C434">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<h2><b>Lighting Schedule</b></h2>
				<h5>Schedule your lighting in advance.</h5>
			</div>
			<div class="modal-body">
				<center><font size="3"><b>START TIME</b></font></center>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- hour -->
						<div class="dropdown" style="width:70px;">
							  <label for="stLH">Hour</label>
							  <select class="form-control" id="stLH">
							    <option name="ddLS" value="1">01</option>
							    <option name="ddLS" value="2">02</option>
							    <option name="ddLS" value="3">03</option>
							    <option name="ddLS" value="4">04</option>
							    <option name="ddLS" value="5">05</option>
							    <option name="ddLS" value="6">06</option>
							    <option name="ddLS" value="7">07</option>
							    <option name="ddLS" value="8">08</option>
							    <option name="ddLS" value="9">09</option>
							    <option name="ddLS" value="10">10</option>
							    <option name="ddLS" value="11">11</option>
							    <option name="ddLS" value="12">12</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:70px;">
							  <label for="stLM">Minute</label>
							  <select class="form-control" id="stLM">
							  	<option value="0">00</option>
							    <option name="ddLSm" value="1">01</option>
							    <option name="ddLSm" value="2">02</option>
							    <option name="ddLSm" value="3">03</option>
							    <option name="ddLSm" value="4">04</option>
							    <option name="ddLSm" value="5">05</option>
							    <option name="ddLSm" value="6">06</option>
							    <option name="ddLSm" value="7">07</option>
							    <option name="ddLSm" value="8">08</option>
							    <option name="ddLSm" value="9">09</option>
							    <option name="ddLSm" value="10">10</option>
							    <option name="ddLSm" value="11">11</option>
							    <option name="ddLSm" value="12">12</option>
							    <option name="ddLSm" value="13">13</option>
							    <option name="ddLSm" value="14">14</option>
							    <option name="ddLSm" value="15">15</option>
							    <option name="ddLSm" value="16">16</option>
							    <option name="ddLSm" value="17">17</option>
							    <option name="ddLSm" value="18">18</option>
							    <option name="ddLSm" value="19">19</option>
							    <option name="ddLSm" value="20">20</option>
							    <option name="ddLSm" value="21">21</option>
							    <option name="ddLSm" value="22">22</option>
							    <option name="ddLSm" value="23">23</option>
							    <option name="ddLSm" value="24">24</option>
							    <option name="ddLSm" value="25">25</option>
							    <option name="ddLSm" value="26">26</option>
							    <option name="ddLSm" value="27">27</option>
							    <option name="ddLSm" value="28">28</option>
							    <option name="ddLSm" value="29">29</option>
							    <option name="ddLSm" value="30">30</option>
							    <option name="ddLSm" value="31">31</option>
							    <option name="ddLSm" value="32">32</option>
							    <option name="ddLSm" value="33">33</option>
							    <option name="ddLSm" value="34">34</option>
							    <option name="ddLSm" value="35">35</option>
							    <option name="ddLSm" value="36">36</option>
							    <option name="ddLSm" value="37">37</option>
							    <option name="ddLSm" value="38">38</option>
							    <option name="ddLSm" value="39">39</option>
							    <option name="ddLSm" value="40">40</option>
							    <option name="ddLSm" value="41">41</option>
							    <option name="ddLSm" value="42">42</option>
							    <option name="ddLSm" value="43">43</option>
							    <option name="ddLSm" value="44">44</option>
							    <option name="ddLSm" value="45">45</option>
							    <option name="ddLSm" value="46">46</option>
							    <option name="ddLSm" value="47">47</option>
							    <option name="ddLSm" value="48">48</option>
							    <option name="ddLSm" value="49">49</option>
							    <option name="ddLSm" value="50">50</option>
							    <option name="ddLSm" value="51">51</option>
							    <option name="ddLSm" value="52">52</option>
							    <option name="ddLSm" value="53">53</option>
							    <option name="ddLSm" value="54">54</option>
							    <option name="ddLSm" value="55">55</option>
							    <option name="ddLSm" value="56">56</option>
							    <option name="ddLSm" value="57">57</option>
							    <option name="ddLSm" value="58">58</option>
							    <option name="ddLSm" value="59">59</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:70px;">
							  <label for="stL1">AM / PM</label>
							  <select class="form-control" id="stL1">
							    <option name="ddLAM" value="0">AM</option>
							    <option name="ddLAM" value="1">PM</option>
							  </select>
						</div>
					</div>
				</div>
				<div style="margin-top:4%">
				<center><font size="3"><b>END TIME</b></font></center>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- hour -->
						<div class="dropdown" style="width:75px;">
							  <label for="edLH">Hour</label>
							  <select class="form-control" id="edLH">
							    <option name="ddLE" value="1">01</option>
							    <option name="ddLE" value="2">02</option>
							    <option name="ddLE" value="3">03</option>
							    <option name="ddLE" value="4">04</option>
							    <option name="ddLE" value="5">05</option>
							    <option name="ddLE" value="6">06</option>
							    <option name="ddLE" value="7">07</option>
							    <option name="ddLE" value="8">08</option>
							    <option name="ddLE" value="9">09</option>
							    <option name="ddLE" value="10">10</option>
							    <option name="ddLE" value="11">11</option>
							    <option name="ddLE" value="12">12</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="edLM">Minute</label>
							  <select class="form-control" id="edLM">
							  	<option name="ddLEm" value="0">00</option>
							    <option name="ddLEm" value="1">01</option>
							    <option name="ddLEm" value="2">02</option>
							    <option name="ddLEm" value="3">03</option>
							    <option name="ddLEm" value="4">04</option>
							    <option name="ddLEm" value="5">05</option>
							    <option name="ddLEm" value="6">06</option>
							    <option name="ddLEm" value="7">07</option>
							    <option name="ddLEm" value="8">08</option>
							    <option name="ddLEm" value="9">09</option>
							    <option name="ddLEm" value="10">10</option>
							    <option name="ddLEm" value="11">11</option>
							    <option name="ddLEm" value="12">12</option>
							    <option name="ddLEm" value="13">13</option>
							    <option name="ddLEm" value="14">14</option>
							    <option name="ddLEm" value="15">15</option>
							    <option name="ddLEm" value="16">16</option>
							    <option name="ddLEm" value="17">17</option>
							    <option name="ddLEm" value="18">18</option>
							    <option name="ddLEm" value="19">19</option>
							    <option name="ddLEm" value="20">20</option>
							    <option name="ddLEm" value="21">21</option>
							    <option name="ddLEm" value="22">22</option>
							    <option name="ddLEm" value="23">23</option>
							    <option name="ddLEm" value="24">24</option>
							    <option name="ddLEm" value="25">25</option>
							    <option name="ddLEm" value="26">26</option>
							    <option name="ddLEm" value="27">27</option>
							    <option name="ddLEm" value="28">28</option>
							    <option name="ddLEm" value="29">29</option>
							    <option name="ddLEm" value="30">30</option>
							    <option name="ddLEm" value="31">31</option>
							    <option name="ddLEm" value="32">32</option>
							    <option name="ddLEm" value="33">33</option>
							    <option name="ddLEm" value="34">34</option>
							    <option name="ddLEm" value="35">35</option>
							    <option name="ddLEm" value="36">36</option>
							    <option name="ddLEm" value="37">37</option>
							    <option name="ddLEm" value="38">38</option>
							    <option name="ddLEm" value="39">39</option>
							    <option name="ddLEm" value="40">40</option>
							    <option name="ddLEm" value="41">41</option>
							    <option name="ddLEm" value="42">42</option>
							    <option name="ddLEm" value="43">43</option>
							    <option name="ddLEm" value="44">44</option>
							    <option name="ddLEm" value="45">45</option>
							    <option name="ddLEm" value="46">46</option>
							    <option name="ddLEm" value="47">47</option>
							    <option name="ddLEm" value="48">48</option>
							    <option name="ddLEm" value="49">49</option>
							    <option name="ddLEm" value="50">50</option>
							    <option name="ddLEm" value="51">51</option>
							    <option name="ddLEm" value="52">52</option>
							    <option name="ddLEm" value="53">53</option>
							    <option name="ddLEm" value="54">54</option>
							    <option name="ddLEm" value="55">55</option>
							    <option name="ddLEm" value="56">56</option>
							    <option name="ddLEm" value="57">57</option>
							    <option name="ddLEm" value="58">58</option>
							    <option name="ddLEm" value="59">59</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="edL2">AM / PM</label>
							  <select class="form-control" id="edL2">
							    <option name="ddLPM" value="0">AM</option>
							    <option name="ddLPM" value="1">PM</option>
							  </select>
						</div>
					</div>
				</div>
			</div>
			<div class="radio" align="left" style="margin-left:23%;">
				<label><input id="mondayA" type="radio" value="0" name="optradio"><font size="3" color="black"><b>Every Monday</b></font></label><br>
				<label><input id="tuesdayA" type="radio" value="1" name="optradio"><font size="3" color="black"><b>Every Tuesday</b></font></label><br>
				<label><input id="wednesdayA" type="radio" value="2" name="optradio"><font size="3" color="black"><b>Every Wednesday</b></font></label><br>
				<label><input id="thursdayA" type="radio" value="3" name="optradio"><font size="3" color="black"><b>Every Thursday</b></font></label><br>
				<label><input id="fridayA" type="radio" value="4" name="optradio"><font size="3" color="black"><b>Every Friday</b></font></label><br>
				<label><input id="saturdayA" type="radio" value="5" name="optradio"><font size="3" color="black"><b>Every Saturday</b></font></label><br>
				<label><input id="sundayA" type="radio" value="6" name="optradio"><font size="3" color="black"><b>Every Sunday</b></font></label>
			</div>
			<center>
			<input type="submit" class="btn btn-info" value="Save" id="lightSched" style="margin-bottom:3%;margin-top:5%;width: 40%;background-color:#209841;"></center>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		
		</div>
	</div>


	<!-- Vessel 1 -->
	<div class="modal fade" id="modalVessel1" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CEA63;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<h2>Temperature and Humidity Status</h2>
				<h5>Record is taken real-time from Vessel A</h5>
				<div id="chartContainer1" style="height:300px;width: 100%;margin-top:3%"></div>
			</div>
			<div class="modal-body" style="margin-top:1%;margin-bottom:1%;">
				<div class="button">
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalWater1" style="margin-top:1%;width:150px;height:40px;background-color:#4B7CCC;"><font size="3"><b>Water</b></font></button>
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water General 1 -->
	<div class="modal fade" id="modalWater1" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CC2F6;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Station</b></h2>
				<h5>Water your plants at home from your phone.</h5></font>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterNow1" style="margin-top:2%;width:300px;background-color:#4b9be5;"><font size="3"><b>Water Now</b></font></button>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterSched1" style="margin-top:2%;width:300px;background-color:#413d9a;"><font size="3"><b>Water Later</b></font></button>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water Now 1 -->
	<div class="modal fade" id="waterNow1" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#3A73CD;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Water Now</b></h2>
				<h5>Water your plants at home from your phone right now.</h5></font>
			</div>
			<div class="modal-body">
				<font color="white" size="2">How much mililiters would you like to water your plant in Vessel A?</font>
				<div class="input-group" style="width:300px;margin-top:2%;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
				    <input id="vol1" type="text" class="form-control" name="volume" placeholder="Input volume here... (Ex. 10, 20, 50)">
				</div>
				<font size="2" color="white" style="margin-top:2%">Volume is computed by mililiters...</font>
				<div class="button">
				<input type="submit" class="btn btn-info" value="Water Now" id="water1" style="margin-top:5%;width: 40%;background-color:#07215b;">
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
		</div>

	<!-- Water Sched 1 -->
	<div class="modal fade" id="waterSched1" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#15469C">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Schedule</b></h2>
				<h4>Schedule your watering in advance.</h4></font>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- hour -->
						<div class="dropdown" style="width:75px;">
							  <label for="waHR1"><font color="white">Hour</font></label>
							  <select class="form-control" id="waHR1">
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waMN2"><font color="white">Minute</font></label>
							  <select class="form-control" id="waMN1">
							  	<option value="0">00</option>
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							    <option value="13">13</option>
							    <option value="14">14</option>
							    <option value="15">15</option>
							    <option value="16">16</option>
							    <option value="17">17</option>
							    <option value="18">18</option>
							    <option value="19">19</option>
							    <option value="20">20</option>
							    <option value="21">21</option>
							    <option value="22">22</option>
							    <option value="23">23</option>
							    <option value="24">24</option>
							    <option value="25">25</option>
							    <option value="26">26</option>
							    <option value="27">27</option>
							    <option value="28">28</option>
							    <option value="29">29</option>
							    <option value="30">30</option>
							    <option value="31">31</option>
							    <option value="32">32</option>
							    <option value="33">33</option>
							    <option value="34">34</option>
							    <option value="35">35</option>
							    <option value="36">36</option>
							    <option value="37">37</option>
							    <option value="38">38</option>
							    <option value="39">39</option>
							    <option value="40">40</option>
							    <option value="41">41</option>
							    <option value="42">42</option>
							    <option value="43">43</option>
							    <option value="44">44</option>
							    <option value="45">45</option>
							    <option value="46">46</option>
							    <option value="47">47</option>
							    <option value="48">48</option>
							    <option value="49">49</option>
							    <option value="50">50</option>
							    <option value="51">51</option>
							    <option value="52">52</option>
							    <option value="53">53</option>
							    <option value="54">54</option>
							    <option value="55">55</option>
							    <option value="56">56</option>
							    <option value="57">57</option>
							    <option value="58">58</option>
							    <option value="59">59</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waWa1"><font color="white">AM / PM</font></label>
							  <select class="form-control" id="waWa1">
							    <option value="0">AM</option>
							    <option value="1">PM</option>
							  </select>
						</div>
					</div>
				</div>
			
					<div align="left" style="margin-left:1%;margin-top:10%;">
						<div class="radio">
							<label><input id="monday1" type="radio" value="0" name="optradio1"><font size="3" color="white">Every Monday</font></label><br>
							<label><input id="tuesday1" type="radio" value="1" name="optradio1"><font size="3" color="white">Every Tuesday</font></label><br>
							<label><input id="wednesday1" type="radio" value="2" name="optradio1"><font size="3" color="white">Every Wednesday</font></label><br>
							<label><input id="thursday1" type="radio" value="3" name="optradio1"><font size="3" color="white">Every Thursday</font></label><br>
							<label><input id="friday1" type="radio" value="4" name="optradio1"><font size="3" color="white">Every Friday</font></label><br>
							<label><input id="saturday1" type="radio" value="5" name="optradio1"><font size="3" color="white">Every Saturday</font></label><br>
							<label><input id="sunday1" type="radio" value="6" name="optradio1"><font size="3" color="white">Every Sunday</font></label>
						</div>
					</div>	
					<center>
					<div align="center" style="margin-top:10%;">
					<form>
					    <font color="white" size="2.5">How much mililiters would you water the plant in Vessel A?</font>
						<div class="input-group" style="width:100px;margin-top:10%;height:30px;">
						    <input id="vol1A" type="number" class="form-control" name="volume">
						</div>
						<font color="white" size="2.5">Input volume here... <br>(Ex. 10, 20, 50)</font>
					</form>
					</div>
					</center>
				<center>
				<input type="submit" class="btn btn-info" value="Save" id="sched1" style="margin-top:1%;width: 40%;background-color:#209841;">
				</center>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>


	<!-- Vessel 2 -->
	<div class="modal fade" id="modalVessel2" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CEA63;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<h2>Temperature and Humidity Status</h2>
				<h5>Record is taken real-time from Vessel B</h5>
				<div id="chartContainer1" style="height:300px;width: 100%;margin-top:3%"></div>
			</div>
			<div class="modal-body" style="margin-top:1%;margin-bottom:1%;">
				<div class="button">
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalWater2" style="margin-top:1%;width:150px;height:40px;background-color:#4B7CCC;"><font size="3"><b>Water</b></font></button>
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water General 2 -->
	<div class="modal fade" id="modalWater2" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CC2F6;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Station</b></h2>
				<h5>Water your plants at home from your phone.</h5></font>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterNow2" style="margin-top:2%;width:300px;background-color:#4b9be5;"><font size="3"><b>Water Now</b></font></button>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterSched2" style="margin-top:2%;width:300px;background-color:#413d9a;"><font size="3"><b>Water Later</b></font></button>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water Now 2 -->
	<div class="modal fade" id="waterNow2" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#3A73CD;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Water Now</b></h2>
				<h5>Water your plants at home from your phone right now.</h5></font>
			</div>
			<div class="modal-body">
				<font color="white" size="2">How much mililiters would you like to water your plant in Vessel B?</font>
				<div class="input-group" style="width:300px;margin-top:2%;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
				    <input id="vol2" type="text" class="form-control" name="volume" placeholder="Input volume here... (Ex. 10, 20, 50)">
				</div>
				<font size="2" color="white" style="margin-top:2%">Volume is computed by mililiters...</font>
				<div class="button">
				<input type="submit" class="btn btn-info" value="Water Now" id="water2" style="margin-top:5%;width: 40%;background-color:#07215b;">
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
		</div>

	<!-- Water Sched 2 -->
	<div class="modal fade" id="waterSched2" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#15469C">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Schedule</b></h2>
				<h4>Schedule your watering in advance.</h4></font>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- hour -->
						<div class="dropdown" style="width:75px;">
							  <label for="waHR2"><font color="white">Hour</font></label>
							  <select class="form-control" id="waHR2">
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waMN2"><font color="white">Minute</font></label>
							  <select class="form-control" id="waMN2">
							  	<option value="0">00</option>
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							    <option value="13">13</option>
							    <option value="14">14</option>
							    <option value="15">15</option>
							    <option value="16">16</option>
							    <option value="17">17</option>
							    <option value="18">18</option>
							    <option value="19">19</option>
							    <option value="20">20</option>
							    <option value="21">21</option>
							    <option value="22">22</option>
							    <option value="23">23</option>
							    <option value="24">24</option>
							    <option value="25">25</option>
							    <option value="26">26</option>
							    <option value="27">27</option>
							    <option value="28">28</option>
							    <option value="29">29</option>
							    <option value="30">30</option>
							    <option value="31">31</option>
							    <option value="32">32</option>
							    <option value="33">33</option>
							    <option value="34">34</option>
							    <option value="35">35</option>
							    <option value="36">36</option>
							    <option value="37">37</option>
							    <option value="38">38</option>
							    <option value="39">39</option>
							    <option value="40">40</option>
							    <option value="41">41</option>
							    <option value="42">42</option>
							    <option value="43">43</option>
							    <option value="44">44</option>
							    <option value="45">45</option>
							    <option value="46">46</option>
							    <option value="47">47</option>
							    <option value="48">48</option>
							    <option value="49">49</option>
							    <option value="50">50</option>
							    <option value="51">51</option>
							    <option value="52">52</option>
							    <option value="53">53</option>
							    <option value="54">54</option>
							    <option value="55">55</option>
							    <option value="56">56</option>
							    <option value="57">57</option>
							    <option value="58">58</option>
							    <option value="59">59</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waWa2"><font color="white">AM / PM</font></label>
							  <select class="form-control" id="waWa2">
							    <option value="0">AM</option>
							    <option value="1">PM</option>
							  </select>
						</div>
					</div>
				</div>
			
					<div align="left" style="margin-left:1%;margin-top:10%;">
						<div class="radio">
							<label><input id="monday1" type="radio" value="0" name="optradio2"><font size="3" color="white">Every Monday</font></label><br>
							<label><input id="tuesday1" type="radio" value="1" name="optradio2"><font size="3" color="white">Every Tuesday</font></label><br>
							<label><input id="wednesday1" type="radio" value="2" name="optradio2"><font size="3" color="white">Every Wednesday</font></label><br>
							<label><input id="thursday1" type="radio" value="3" name="optradio2"><font size="3" color="white">Every Thursday</font></label><br>
							<label><input id="friday1" type="radio" value="4" name="optradio2"><font size="3" color="white">Every Friday</font></label><br>
							<label><input id="saturday1" type="radio" value="5" name="optradio2"><font size="3" color="white">Every Saturday</font></label><br>
							<label><input id="sunday1" type="radio" value="6" name="optradio2"><font size="3" color="white">Every Sunday</font></label>
						</div>
					</div>	
					<center>
					<div align="center" style="margin-top:10%;">
					<form>
					    <font color="white" size="2.5">How much mililiters would you water the plant in Vessel B?</font>
						<div class="input-group" style="width:100px;margin-top:10%;height:30px;">
						    <input id="vol2A" type="number" class="form-control" name="volume">
						</div>
						<font color="white" size="2.5">Input volume here... <br>(Ex. 10, 20, 50)</font>
					</form>
					</div>
					</center>
				<center>
				<input type="submit" class="btn btn-info" value="Save" id="sched2" style="margin-top:1%;width: 40%;background-color:#209841;">
				</center>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>


	<!-- Vessel 3 -->
	<div class="modal fade" id="modalVessel3" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CEA63;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<h2>Temperature and Humidity Status</h2>
				<h5>Record is taken real-time from Vessel C</h5>
				<div id="chartContainer1" style="height:300px;width: 100%;margin-top:3%"></div>
			</div>
			<div class="modal-body" style="margin-top:1%;margin-bottom:1%;">
				<div class="button">
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalWater3" style="margin-top:1%;width:150px;height:40px;background-color:#4B7CCC;"><font size="3"><b>Water</b></font></button>
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water General 3 -->
	<div class="modal fade" id="modalWater3" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#7CC2F6;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Station</b></h2>
				<h5>Water your plants at home from your phone.</h5></font>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterNow3" style="margin-top:2%;width:300px;background-color:#4b9be5;"><font size="3"><b>Water Now</b></font></button>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#waterSched3" style="margin-top:2%;width:300px;background-color:#413d9a;"><font size="3"><b>Water Later</b></font></button>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Water Now 3 -->
	<div class="modal fade" id="waterNow3" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#3A73CD;">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Water Now</b></h2>
				<h5>Water your plants at home from your phone right now.</h5></font>
			</div>
			<div class="modal-body">
				<font color="white" size="2">How much mililiters would you like to water your plant in Vessel C?</font>
				<div class="input-group" style="width:300px;margin-top:2%;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
				    <input id="vol3" type="text" class="form-control" name="volume" placeholder="Input volume here... (Ex. 10, 20, 50)">
				</div>
				<font size="2" color="white" style="margin-top:2%">Volume is computed by mililiters...</font>
				<div class="button">
				<input type="submit" class="btn btn-info" value="Water Now" id="water3" style="margin-top:5%;width: 40%;background-color:#07215b;">
				</div>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
		</div>

	<!-- Water Sched 3 -->
	<div class="modal fade" id="waterSched3" role="dialog">
	    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
	    <!-- Modal content-->
	    <div data-role="page" class="modal-content" style="width:340px;background-color:#15469C">
		    <div class="modal-header">  
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			  	<font color="white"><h2><b>Watering Schedule</b></h2>
				<h4>Schedule your watering in advance.</h4></font>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- hour -->
						<div class="dropdown" style="width:75px;">
							  <label for="waHR7"><font color="white">Hour</font></label>
							  <select class="form-control" id="waHR7">
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waMN7"><font color="white">Minute</font></label>
							  <select class="form-control" id="waMN7">
							  	<option value="0">00</option>
							    <option value="1">01</option>
							    <option value="2">02</option>
							    <option value="3">03</option>
							    <option value="4">04</option>
							    <option value="5">05</option>
							    <option value="6">06</option>
							    <option value="7">07</option>
							    <option value="8">08</option>
							    <option value="9">09</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							    <option value="12">12</option>
							    <option value="13">13</option>
							    <option value="14">14</option>
							    <option value="15">15</option>
							    <option value="16">16</option>
							    <option value="17">17</option>
							    <option value="18">18</option>
							    <option value="19">19</option>
							    <option value="20">20</option>
							    <option value="21">21</option>
							    <option value="22">22</option>
							    <option value="23">23</option>
							    <option value="24">24</option>
							    <option value="25">25</option>
							    <option value="26">26</option>
							    <option value="27">27</option>
							    <option value="28">28</option>
							    <option value="29">29</option>
							    <option value="30">30</option>
							    <option value="31">31</option>
							    <option value="32">32</option>
							    <option value="33">33</option>
							    <option value="34">34</option>
							    <option value="35">35</option>
							    <option value="36">36</option>
							    <option value="37">37</option>
							    <option value="38">38</option>
							    <option value="39">39</option>
							    <option value="40">40</option>
							    <option value="41">41</option>
							    <option value="42">42</option>
							    <option value="43">43</option>
							    <option value="44">44</option>
							    <option value="45">45</option>
							    <option value="46">46</option>
							    <option value="47">47</option>
							    <option value="48">48</option>
							    <option value="49">49</option>
							    <option value="50">50</option>
							    <option value="51">51</option>
							    <option value="52">52</option>
							    <option value="53">53</option>
							    <option value="54">54</option>
							    <option value="55">55</option>
							    <option value="56">56</option>
							    <option value="57">57</option>
							    <option value="58">58</option>
							    <option value="59">59</option>
							  </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4">
						<!-- min -->
						<div class="dropdown" style="width:75px;">
							  <label for="waWa7"><font color="white">AM / PM</font></label>
							  <select class="form-control" id="waWa7">
							    <option value="0">AM</option>
							    <option value="1">PM</option>
							  </select>
						</div>
					</div>
				</div>

				<center>
					<div align="left" style="margin-left:1%;margin-top:10%;">
						<div class="radio">
							<label><input id="monday1" type="radio" value="0" name="optradio3"><font size="3" color="white">Every Monday</font></label><br>
							<label><input id="tuesday1" type="radio" value="1" name="optradio3"><font size="3" color="white">Every Tuesday</font></label><br>
							<label><input id="wednesday1" type="radio" value="2" name="optradio3"><font size="3" color="white">Every Wednesday</font></label><br>
							<label><input id="thursday1" type="radio" value="3" name="optradio3"><font size="3" color="white">Every Thursday</font></label><br>
							<label><input id="friday1" type="radio" value="4" name="optradio3"><font size="3" color="white">Every Friday</font></label><br>
							<label><input id="saturday1" type="radio" value="5" name="optradio3"><font size="3" color="white">Every Saturday</font></label><br>
							<label><input id="sunday1" type="radio" value="6" name="optradio3"><font size="3" color="white">Every Sunday</font></label>
						</div>
					</div>	
					<form>
					    <font color="white" size="2.5">How much mililiters would you water the plant in Vessel C?</font>
						<div class="input-group" style="width:100px;margin-top:10%;height:30px;">
						    <input id="vol3A" type="number" class="form-control" name="volume">
						</div>
						<font color="white" size="2.5">Input volume here... <br>(Ex. 10, 20, 50)</font>
					</form>
				</center>
				<center>
				<input type="submit" class="btn btn-info" value="Save" id="sched3" style="margin-top:1%;width: 40%;background-color:#209841;">
				</center>
			</div>
			<div class="modal-footer" style="margin-top:1%;margin-bottom:1%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>


	<!-- Water Now A-->
	<script>
	    $(document).ready(function(){
	        $("#water1").unbind('click').bind('click', function(e){
	            var volA = $("#vol1").val();
	            e.preventDefault();
	            $.post(
	            'ajax/waterNow1',
	            {
	                'waterVolA':volA
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering Vessel A',
	                    showConfirmButton: false,
	                    timer: 5000
	                    })
	                  
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>

	<!-- Water Now B-->
	<script>
	    $(document).ready(function(){
	        $("#water2").unbind('click').bind('click', function(e){
	            var volB = $("#vol2").val();
	            e.preventDefault();
	            $.post(
	            'ajax/waterNow2',
	            {
	                'waterVolB':volB
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering Vessel B',
	                    showConfirmButton: false,
	                    timer: 5000
	                    })
	                  
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>

	<!-- Water Now C-->
	<script>
	    $(document).ready(function(){
	        $("#water3").unbind('click').bind('click', function(e){
	            var volC = $("#vol3").val();
	            e.preventDefault();
	            $.post(
	            'ajax/waterNow3',
	            {
	                'waterVolC':volC
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering Vessel C',
	                    showConfirmButton: false,
	                    timer: 5000
	                    })
	                  
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>

	<!-- Camera -->
	<script>
	    $(document).ready(function(){
	        $("#camera").unbind('click').bind('click', function(e){
	            var cam = 1;
	            e.preventDefault();
	            $.post(
	            'ajax/camCheck',
	            {
	                'cam':cam
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Opening Camera',
	                    showConfirmButton: false,
	                    timer: 6000
	                    })
	                  	window.location.href = 'http://192.168.43.208:8000.';
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>


	<!-- LightOn -->
	<script>
	    $(document).ready(function(){
	        $("#lightNow1").unbind('click').bind('click', function(e){
	            var light1 = 1;
	            e.preventDefault();
	            $.post(
	            'ajax/lightSwitch',
	            {
	                'light1':light1
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Lighting Up',
	                    showConfirmButton: false,
	                    timer: 5000
	                    })
	                  
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>

	<!-- LightOff -->
	<script>
	    $(document).ready(function(){
	        $("#lightOff1").unbind('click').bind('click', function(e){
	            var light1 = 0;
	            e.preventDefault();
	            $.post(
	            'ajax/lightSwitch',
	            {
	                'light1':light1
	            }, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Turning Off Light',
	                    showConfirmButton: false,
	                    timer: 5000
	                    })
	                  
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            });
	        });
	    });
	</script>



	<!-- Pot A Water Sched -->
	<script>
    $(document).ready(function(){
        $("#sched1").unbind('click').bind('click', function(e){
            var waHR1= document.getElementById("waHR1");
			var waHR = waHR1.options[waHR1.selectedIndex].value;
			var waMN1= document.getElementById("waMN1");
			var waMN = waMN1.options[waMN1.selectedIndex].value;
			var waWa1= document.getElementById("waWa1");
			var waWa = waWa1.options[waWa1.selectedIndex].value;
            var vol1A = document.getElementById("vol1A");
            var vol1A = vol1A.value;
            var valDay1 = $('input[name=optradio1]:checked').val();
         	e.preventDefault();
            $.post(
            'ajax/timerPotA',
            {
                'waHR': waHR,
                'waMN': waMN,
                'waWa': waWa,
                'volume': vol1A,
                'valDay': valDay1
          	}, function(data, status){
                if(data.success){
                    Swal.fire({
                    type: 'success',
                    title: 'Recording',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    
                    location.assign("dashboard");
                } else {
                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
                }
            }); 
            console.log();  
            alert("Watering Scheduled!");
            window.location="dashboard"     
        });
    });
	</script>

	<!-- Pot B Water Sched -->
	<script>
    $(document).ready(function(){
        $("#sched2").unbind('click').bind('click', function(e){
            var waHR2= document.getElementById("waHR2");
			var waHR3 = waHR2.options[waHR2.selectedIndex].value;
			var waMN2= document.getElementById("waMN2");
			var waMN3 = waMN2.options[waMN2.selectedIndex].value;
			var waWa2= document.getElementById("waWa2");
			var waWa3 = waWa2.options[waWa2.selectedIndex].value;
            var vol2A = document.getElementById("vol2A");
            var vol2A = vol2A.value;
            var valDay2 = $('input[name=optradio2]:checked').val();
         	e.preventDefault();
            $.post(
            'ajax/timerPotB',
            {
                'waHR3': waHR3,
                'waMN3': waMN3,
                'waWa3': waWa3,
                'volume2': vol2A,
                'valDay2': valDay2
          	}, function(data, status){
                if(data.success){
                    Swal.fire({
                    type: 'success',
                    title: 'Recording',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    
                    location.assign("dashboard");
                } else {
                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
                }
            }); 
            console.log(); 
            alert("Watering Scheduled!");
            window.location="dashboard"      
        });
    });
	</script>

	<!-- Pot C Water Sched -->
	<script>
    $(document).ready(function(){
        $("#sched3").unbind('click').bind('click', function(e){
            var waHR7= document.getElementById("waHR7");
			var waHR8 = waHR7.options[waHR7.selectedIndex].value;
			var waMN7= document.getElementById("waMN7");
			var waMN8 = waMN7.options[waMN7.selectedIndex].value;
			var waWa7= document.getElementById("waWa7");
			var waWa8 = waWa7.options[waWa7.selectedIndex].value;
            var vol3A = document.getElementById("vol3A");
            var vol3A = vol3A.value;
            var valDay3 = $('input[name=optradio3]:checked').val();
         	e.preventDefault();
            $.post(
            'ajax/timerPotC',
            {
                'waHR8': waHR8,
                'waMN8': waMN8,
                'waWa8': waWa8,
                'volume7': vol3A,
                'valDay7': valDay3
          	}, function(data, status){
                if(data.success){
                    Swal.fire({
                    type: 'success',
                    title: 'Recording',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    
                    location.assign("dashboard");
                } else {
                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
                }
            }); 
            console.log();      
            alert("Watering Scheduled!");
            window.location="dashboard" 
        });
    });
	</script>


	<!-- Light Sched -->
	<script>
    $(document).ready(function(){
        $("#lightSched").unbind('click').bind('click', function(e){
            var stLH= document.getElementById("stLH");
			var strHr = stLH.options[stLH.selectedIndex].value;
			var stLM= document.getElementById("stLM");
			var strMin = stLM.options[stLM.selectedIndex].value;
			var stL1= document.getElementById("stL1");
			var strLyt = stL1.options[stL1.selectedIndex].value;

			var edLH= document.getElementById("edLH");
			var endHr = edLH.options[edLH.selectedIndex].value;
			var edLM= document.getElementById("edLM");
			var endMin = edLM.options[edLM.selectedIndex].value;
			var edL2= document.getElementById("edL2");
			var endLyt = stL1.options[edL2.selectedIndex].value;
            var valDay = $('input[name=optradio]:checked').val();
            console.log(valDay);
         	e.preventDefault();
            $.post(
            'ajax/timerLightA',
            {
                'strHr': strHr,
                'strMin': strMin,
                'strLyt': strLyt,
                'endHr': endHr,
                'endMin': endMin,
                'endLyt': endLyt,
                'dayA': valDay
          	}, function(data, status){
                if(data.success){
                    Swal.fire({
                    type: 'success',
                    title: 'Scheduling Lighting',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    
                    location.assign("dashboard");
                } else {
                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
                }
            }); 
            console.log();   
            alert("Light Scheduled!");
            window.location="dashboard" 
        });
    	});
	</script>


	<!-- CanvasJS -->
    <script>
		window.onload = function() {

		var dataPoints = [];

		var options = {
			theme: "light2",
			title: {
				// text: "Temperature and Humidity Status"
			},
			data: [{
				type: "line",
				dataPoints: dataPoints
			}]
		};
		$("#chartContainer1").CanvasJSChart(options);
		updateData();

		// Initial Values
		var xValue = 0;
		var yValue = 10;
		var newDataCount = 6;

		function addData(data) {
			if(newDataCount != 1) {
				$.each(data, function(key, value) {
					dataPoints.push({x: value[0], y: parseInt(value[1])});
					xValue++;
					yValue = parseInt(value[1]);
				});
			} else {
				//dataPoints.shift();
				dataPoints.push({x: data[0][0], y: parseInt(data[0][1])});
				xValue++;
				yValue = parseInt(data[0][1]);
			}
		  
			newDataCount = 1;
		  
			$("#chartContainer1").CanvasJSChart().render()
			setTimeout(updateData, 1500);	
		}

		function updateData() {
			$.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCount+"&type=json", addData);
		}

		}
	</script>

	<!-- CanvasJS -->
	<script>
		window.onload = function() {

		var dataPoints = [];

		var options = {
			theme: "light2",
			title: {
				// text: "Temperature and Humidity Status"
			},
			data: [{
				type: "line",
				dataPoints: dataPoints
			}]
		};
		$("#chartContainer2").CanvasJSChart(options);
		updateData();

		// Initial Values
		var xValue = 0;
		var yValue = 10;
		var newDataCount = 6;

		function addData(data) {
			if(newDataCount != 1) {
				$.each(data, function(key, value) {
					dataPoints.push({x: value[0], y: parseInt(value[1])});
					xValue++;
					yValue = parseInt(value[1]);
				});
			} else {
				//dataPoints.shift();
				dataPoints.push({x: data[0][0], y: parseInt(data[0][1])});
				xValue++;
				yValue = parseInt(data[0][1]);
			}
		  
			newDataCount = 1;
		  
			$("#chartContainer2").CanvasJSChart().render()
			setTimeout(updateData, 1500);	
		}

		function updateData() {
			$.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCount+"&type=json", addData);
		}

		}
	</script>

	<!-- CanvasJS -->
	<script>
		window.onload = function() {

		var dataPoints = [];

		var options = {
			theme: "light2",
			title: {
				// text: "Temperature and Humidity Status"
			},
			data: [{
				type: "line",
				dataPoints: dataPoints
			}]
		};
		$("#chartContainer3").CanvasJSChart(options);
		updateData();

		// Initial Values
		var xValue = 0;
		var yValue = 10;
		var newDataCount = 6;

		function addData(data) {
			if(newDataCount != 1) {
				$.each(data, function(key, value) {
					dataPoints.push({x: value[0], y: parseInt(value[1])});
					xValue++;
					yValue = parseInt(value[1]);
				});
			} else {
				//dataPoints.shift();
				dataPoints.push({x: data[0][0], y: parseInt(data[0][1])});
				xValue++;
				yValue = parseInt(data[0][1]);
			}
		  
			newDataCount = 1;
		  
			$("#chartContainer3").CanvasJSChart().render()
			setTimeout(updateData, 1500);	
		}

		function updateData() {
			$.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCount+"&type=json", addData);
		}

		}
	</script>

	
</center>    
</body>
</html>