<!DOCTYPE html>
<html>
<head>
	<title>EDEN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes, maximum-scale=1.0, user-scalable=no"><meta name="theme-color" content="#00bdd7">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<style type = "text/css">
		body{
			background-image: url("static/assets/images/bg1.png");
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			  background-attachment: fixed;
			  min-height:cover; 
		}

		/*.container{
		text-align: center;
		font-family: "montserrat";
		color: #ff7675;
		border: 1px solid #ff7675;
  		background-color: #F0F8FF;
 		padding-top: 10px;
  		padding-right: 30px;
 		padding-bottom: 50px;
  		padding-left: 80px;
		}*/

		modal {
			  text-align: center;
			}

		@media screen and (max-width: 768px) { 
			  modal:before {
			    display: inline-block;
			    vertical-align: middle;
			    content: " ";
			    height: 100vh;
			  }
			  body{
			  	height: 100vh;
			  }
			}

		modal-dialog {
			  display: inline-block;
			  text-align: left;
			  vertical-align: middle;
			}
	</style>

</head>
<body>
	<br><br><br><br>

	<div class="container-fluid" style="width:350px;margin-top:1%" >
		<div class="index-style">
		<center>
		  <img src="static/assets/images/eden2lite.png" class="img-responsive" width="250px">
		  <div style="max-width: 300px">
		  <div class="input-group" style="width:300px;margin-top:5%;">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    <input id="emailLogin" type="text" class="form-control" name="email" placeholder="Email">
		  </div>
		  <div class="input-group" style="width:300px;margin-top:2%;">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		    <input id="passLogin" type="password" class="form-control" style="" name="password" placeholder="Password">
		  </div>
		  <div class="button">
		  <input type="submit" class="btn btn-success btn-md" value="Login" style="margin-top:10px;width:145px;" id="login-button">
		  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalRegister" style="margin-top:10px;width:145px;">Register</button>
			  <!-- Modal -->
			  <div class="modal fade" id="modalRegister" role="dialog">
			    <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
			    
			      <!-- Modal content-->
			      <div class="modal-content" style="width:400px;">
			        <div class="modal-header">  
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          	<h2>Sign Up</h2>
			          	<h5>Create your own account in EDEN.</h5>
			        </div>
			        <div class="modal-body">
					  <div class="input-group" style="margin-top:2%;width:350px;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
					    <input id="name-register" type="text" class="form-control" name="name" placeholder="Name">
					  </div>
			          <div class="input-group" style="margin-top:2%;width:350px;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					    <input id="email-register" type="text" class="form-control" name="email" placeholder="Email">
					  </div>
					  <div class="input-group" style="margin-top:2%;width:350px;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					    <input id="password1" type="password" class="form-control" name="password1" placeholder="Password">
					  </div>
					  <div class="input-group" style="margin-top:2%;width:350px;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					    <input id="password2" type="password" class="form-control" name="password2" placeholder="Confirm Password">
					  </div>
					  <div class="input-group" style="margin-top:2%;width:350px;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
					    <input id="contactno-register" type="text" class="form-control" name="contactno" placeholder="Contact Number">
				 	  </div>
				 	  <input type="submit" class="btn btn-success" style="margin-top:2%;width:300px;" value="Register" id="register-button">
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      </div>
			    </div>
			    </div>
			  </div>
		  	</center>
		  	</div>
		 </div>
	<script>
    $(document).ready(function(){
        $("#login-button").unbind('click').bind('click', function(e){
            var uname_login = $("#emailLogin").val();
            var pass_login = $("#passLogin").val();
            e.preventDefault();
            $.post(
            'ajax/login',
            {
                'email' : uname_login,
                'password' : pass_login 
            }, function(data, status){
                if(data.success) {
                    Swal.fire({
                    type: 'success',
                    title: 'Login Success',
                    showConfirmButton: false,
                    timer: 2000
                    })
                    location.assign("dashboard");
                } else {
                    Swal.fire({
                    type: 'error',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1000
                    })
                }
                console.log(data.success);
            });
        });
        $("#register-button").unbind('click').bind('click', function(e){
            var name = $("#name-register").val();
            var contact_no = $("#contactno-register").val();
            var email = $("#email-register").val();
            var password_reg = $("#password1").val();
            var cpass_reg    = $("#password2").val();
            e.preventDefault();
            $.post(
            'ajax/register',
            {
                'name'              : name,
                'contactNo'         : contact_no,
                'email'             : email,
                'password'         	: password_reg,
                'password2'         : cpass_reg

           }, function(data, status){
                if(data.success){
                    Swal.fire({
                    type: 'success',
                    title: 'You have Successfully Registered',
                    showConfirmButton: false,
                    timer: 1000
                    })
                    
                    location.assign("/");
                } else {
                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
                }
            });
        });
    });
	</script>
    <script>
        $('#pass-reg, #cpass-reg').on('keyup', function () {
          if ($('#pass-reg').val() == $('#cpass-reg').val()) {
            $('#cpass-reg').html('Password match').css('border-color', 'green');
          } else 
            $('#cpass-reg').html('Password not match').css('border-color', 'red');
        });
    </script>	 
</body>
</html>