<!DOCTYPE html>
<html>
<head>
	<title>EDEN Index</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<style type = "text/css">
		body{
			background-image: url("bg1.png");
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			  background-attachment: fixed;
		}
	</style>

</head>
<body>
	<br><br><br><br>

	<div class="container" style="width:1000px;margin-top:30px" >
		<div class = "row">
			<div class="col-lg-7 col-md-7 col-xs-7">
				<div class="text" style="margin-left:60px;"><font color = "#78BF45"><h2><b>REGISTRATION</b></h2></font></div>
				<div class="input-group" style="margin-top:5%;width:350px;">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
			  	</div>
			  	<div class="input-group" style="margin-top:5%;width:350px;">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="input-group" style="margin-top:5%;width:350px;">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
			    <input id="namr" type="text" class="form-control" name="name" placeholder="Name">
				</div>
				<div class="input-group" style="margin-top:5%;width:350px;">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
			    <input id="contactno" type="text" class="form-control" name="contactno" placeholder="Contact Number">
				</div>
				<div class="button">
				 <button type="button" class="btn btn-info btn-lg" style="margin-top:30px;margin-left:95px;width:150px;">Register</button>
				</div>
			</div>	
			<div class="col-lg-5 col-md-5 col-xs-5">
				<img src="eden1.png" width="400px" height="400px">
			</div>
		</div> 
			  

	</div>		  

</body>
</html>