<!-- 	Add Sched Vessel A
	<script>
    $(document).ready(function(){
        $("#sched1").unbind('click').bind('click', function(e){
            var schedTime = $("#time1").val();
            var monday = document.getElementById("monday1");
            var tuesday = document.getElementById("tuesday1");
            var wednesday = document.getElementById("wednesday1");
            var thursday = document.getElementById("thursday1");
            var friday = document.getElementById("friday1");
            var saturday = document.getElementById("saturday1");
            var sunday = document.getElementById("sunday1");
            if(monday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerMondayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Mondays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(tuesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerTuesdayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Tuesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(wednesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerWednesdayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Wednesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(thursday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerThursdayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Thursdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(friday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerFridayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Fridays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(saturday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSaturdayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Saturdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(sunday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSundayA',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Sundays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }

        });
    });
	</script>

	Add Sched Vessel B
	<script>
    $(document).ready(function(){
        $("#sched2").unbind('click').bind('click', function(e){
            var schedTime = $("#time2").val();
            var monday = document.getElementById("monday2");
            var tuesday = document.getElementById("tuesday2");
            var wednesday = document.getElementById("wednesday2");
            var thursday = document.getElementById("thursday2");
            var friday = document.getElementById("friday2");
            var saturday = document.getElementById("saturday2");
            var sunday = document.getElementById("sunday2");
            if(monday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerMondayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Mondays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(tuesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerTuesdayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Tuesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(wednesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerWednesdayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Wednesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(thursday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerThursdayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Thursdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(friday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerFridayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Fridays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(saturday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSaturdayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Saturdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(sunday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSundayB',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Sundays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }

        });
    });
	</script>

	Add Sched Vessel C
	<script>
    $(document).ready(function(){
        $("#sched3").unbind('click').bind('click', function(e){
            var schedTime = $("#time3").val();
            var monday = document.getElementById("monday3");
            var tuesday = document.getElementById("tuesday3");
            var wednesday = document.getElementById("wednesday3");
            var thursday = document.getElementById("thursday3");
            var friday = document.getElementById("friday3");
            var saturday = document.getElementById("saturday3");
            var sunday = document.getElementById("sunday3");
            if(monday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerMondayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Mondays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(tuesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerTuesdayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Tuesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(wednesday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerWednesdayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Wednesdays',
	                    showConfirmButton: false,
	                    timer: 1000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(thursday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerThursdayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Thursdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(friday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerFridayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Fridays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(saturday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSaturdayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Saturdays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }
            if(sunday.checked == true)
            {
            	console.log(schedTime); 
	         	e.preventDefault();
	            $.post(
	            'ajax/timerSundayC',
	            {
	                'schedTime': schedTime
	          	}, function(data, status){
	                if(data.success){
	                    Swal.fire({
	                    type: 'success',
	                    title: 'Watering set on Sundays',
	                    showConfirmButton: false,
	                    timer: 3000
	                    })
	                    
	                    location.assign("dashboard");
	                } else {
	                    $("#error-message").html('<span class="glyphicon glyphicon-warning-sign"></span> '+data.message).css('color', 'red');
	                }
	            }); 
	            console.log();          	
            }

        });
    });
	</script>
 -->